/*
 * @fileOverview
 * styles.css
 * styles for WeVidHere
 * Assume normalize.css has already been loaded
 * 
 * CSS units
 * @link http://demosthenes.info/blog/775/Which-CSS-Measurements-To-Use-When
 */
/* 
 * ---------------------------------------------
 * ADDITIONAL NORMALIZAION, OLD BROWSERS
 * ---------------------------------------------
 */
html {
	font-size:16px;
	line-height:1.4;
	/* keep mobiles from adjusting type size */
	-webkit-text-size-adjust: 100%; 
	-ms-text-size-adjust: 100%;
}

body {
	
}

/* 
 * force smooth images in old IE
 */
img {
    -ms-interpolation-mode: bicubic;
}

/* 
 * fix SVG overflow in old IE
 */
svg:not(:root) { 
    overflow: hidden; 
}

/*  
 * remove exta space for rich media at bottom of their container
 * h5bp.com/i/440
 */
audio, canvas, img, video {
    vertical-align: middle;
}
/*
 * Clearfix: contain floats, adapted from HTML5 Boilerplate
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 *
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 * 
 * 3. For an alternate method using overflow, see
 *    @link http://webdesignerwall.com/tutorials/css-clearing-floats-with-overflow
 */
 
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}


/* 
 * ---------------------------------------------
 * VISIBLITY
 * Control visual browser vs. screen reader 
 * navigation. Bots (e.g. search engine crawlers 
 * will see everything)
 * 
 * @link http://heydonworks.com/practical_aria_examples/
 *
 * ---------------------------------------------
 */
 
/* 
 * visible to all browsers
 */
.visible-all {
    display:block;
    visibility:visible;
}
/* 
 * visible only to screen readers, adapted from HTML5 Boilerplate
 * @link h5bp.com/v
 * @link http://www.webaim.org/techniques/css/invisiblecontent/
 * @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * @link https://github.com/h5bp/html5-boilerplate/issues/194/
 */
.visible-screenreader {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* 
 * extends visible-screenreader so that tabbed focus still works
 * adapted from HTML5 Boilerplate
 * class="visual-screenreader focusable"
 * @link h5bp.com/p
 */
.visible-screenreader.focusable:active,
.visible-screenreader.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible; 
	position: static;
	width: auto;
}

/* 
 * invisible for all browsers (including screen readers), removed
 * from document flow. Adapted from HTML5 Boilerplate
 * @link http://www.htm5boilerplate.com
 * NOTE: we also apply ARIA-HIDDEN to these elements, and 
 * these must be changed using JavaScript
 */
.visible-none {
	display: none !important;
	visibility: hidden;
}

/**
 * Always hide an element when it has the `hidden` HTML attribute.
 * from Pure CSS
 */
[hidden] {
	display: none !important;
	visibility: hidden;
}

/* 
 * ---------------------------------------------
 * STYLES FOR WRAPPER 
 * ---------------------------------------------
 */
/* style the <main> content tag */
main {
	padding:0.5em;
	background:#aaa;
}

/* top page header style */
.header {
	border-bottom:0.25em solid #666;
}

.header img {
	width:50%;
}

.header nav {
	width:100%;
	float:left;
	background-color:#666;
}

.header nav ul {
	list-style: none;
}

.header nav ul li {
	display: -moz-inline-stack; /* very old Firefox 2 */
	display:inline-block;
	width:5em;
}

.header nav ul li a {
	color:#fff;
}

/* top page footer style */
.footer {
	border-top:0.25em solid #666;
}

/* 
 * ---------------------------------------------
 * STYLES FOR INDIVIDUAL GAME SCREENS
 * ---------------------------------------------
 */
.screen {
	margin-right:0.15em; /* NOTE: balance margin-left default */
	position:relative;   /* NOTE: allow absolute positioning within */
	background:#eee;
    	border:2px solid #ccc;
    	border-radius: 0.5em;
    	padding:0.25em;
}

/* secondary titles in screens */
.screen header h2 {
}

/* tertiary titles in screens */
.screen header h3 {
	position:absolute;
	font-weight:300;
	font-size:0.75em;
	top:0;
	right:1em;
}

/* INSTALL SCREEN */

#screen-install {
}

#screen-install > * {
	margin:1em auto;
	text-align:center;
}

/* SPLASH SCREEN */

#screen-splash {
}

#screen-splash > * {
	margin: 1em auto;
	text-align:center;
}
#screen-splash nav ul {
	list-style-type:none;
	padding:0;
}

/* CONFIG SCREEN */

#screen-config {
}

/* form fields */
#screen-config label {
	display:block;
}

#screen-config button {
	display:block;
}  

/* GAME SCREEN */

#screen-game {
	
}

#screen-game header {
	background-color:#ddd;
	margin:-0.75em 0 0 0; /*NOTE: needed negative margin here*/
	border-radius: 6px 6px 0 0;
}

/* game screen, top control strip */

#game-control-panel {
	width:100%;
	float:left;
}

#game-join {
	float:left;
	width:20%;
}

#game-search {
	float:left;
	width:30%;
}

#game-nav {
	float:right;
	width:10%;
	text-align:right;
}

/* this creates a popup menu, when visible */
#game-nav-menu {
	width: 150px;
	padding:0;
	border-radius: 4px 0 4px 4px;
	position:absolute;
	top:5em;
	margin:0;
	right:0.75em; /* NOTE: to match trident symbol (see below) */
	list-style-type:none;
	background-color:#fff;
	border:1px solid #aaa;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	-moz-box-shadow:    3px 4px 2px 1px #ccc;
  	-webkit-box-shadow: 3px 4px 2px 1px #ccc;
	box-shadow:         3px 4px 2px 1px #ccc;
}

#game-nav-menu li {
	margin:0;
	border-bottom:1px dotted #aaa;
}

#game-nav-menu li:hover {
	background-color:#eee;
}

#game-nav-menu li a {
	margin:6px;
	color:#000;
	text-decoration: none;
}

#game-nav-menu li a:hover {
}

/* game screen, main game strip */

#game-app {
	width:100%;
	float:left;
	margin: 0.25em 0 0.25em 0;
}

#game-app audio {
	width:100%;
	height:30px;
}

#game-app-streams {
	width:20%;
	float:left;
}

#game-app-canvas {
	display:block;
	float:left;
	border:1px solid black;
	width:79.5%;
}

/* game screen, bottom control strip */

#screen-game footer {
	width:100%;
	padding:0;
}

#game-control-panel-bottom {
	float:left;
	width:100%;
	background-color:#ddd;
	margin-left:auto;
	margin-right:auto;
	border-radius: 0 0 6px 6px;
}

#game-bumped {
	margin-left:0.25em;
	float:left;
	width:40%;
}

#game-update-secret-message {
	margin-left:0.25em;
	float:left;
	width:40%;
}

/* HELP SCREEN */

#screen-help {
}

#screen-exit {
}

#screen-reviews {
}

/* 
 * ---------------------------------------------
 * Styles for screen elements
 */
 
 /* Font Awesome Trident */
.fa-bars {
	font-size:2em;
	margin-right:0.25em;
	cursor:default;
}

/* 
 * ---------------------------------------------
 * Styles for Google WebFont Loader, during async font 
 * file load
 * ---------------------------------------------
 */
.wf-loading h2 { 
	font-family: sans-serif; font-weight: 400; font-size: 24px; 
}

.wf-inactive h2 { 
	font-family: 'Englebert', sans-serif; font-weight: 400; font-size: 24px; 
}

.wf-active h2 { 
	font-family: 'Englebert', sans-serif; 
	font-weight: 400; 
	font-size: 24px; 
	margin:0.5em;
}
